{% extends "base.html" %}
{% load static %}
{% block page-content %}
<div class="index-banner banner-pic">
<div class="container header-banner" style="visibility: visible; padding: 50px 0;">
        <div class="col-lg-12 text-center" style="visibility: visible; padding: 50px 0;">
            <h2>选择山月石，网站建设如此简单</h2>
            <div class="brand-name-subtext">
                专注为用户提供一站式网站平台解决方案
            </div>
        </div>
    </div>
</div>
<div class="index-products">
<div class="container">
                <h3 class="animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="slide-top" data-repeat="false">
                    专注网站建设领域
                </h3>
                <p class="desc animation-fade appear-no-repeat" data-plugin="appear" data-animate="fade" data-repeat="false">
                    我们做什么？
                </p>
				<div class="row">
				<div class="col-md-3 col-sm-6 zyy-item">
					<i class="icon fa-laptop" aria-hidden="true">
                        </i>
                        <h4>
                            企业网站定制
                        </h4>
                        <p>企业网站定制设计<br>彰显品牌形象</p>
				</div>
				<div class="col-md-3 col-sm-6 zyy-item">
					<i class="icon fa-code" aria-hidden="true">
                        </i>
                        <h4>
                            自研网站管理平台
                        </h4>
                        <p>
                            功能强大的管理平台
                            <br>
                            快速完成网站编排和管理
                        </p>
				</div>
				<div class="col-md-3 col-sm-6 zyy-item">
					<i class="icon fa-group" aria-hidden="true">
                        </i>
                        <h4>
                            SEO网站优化
                        </h4>
                        <p>
                            合理布局搜索标签 <br>全方位助力搜索引擎收录与推广
                        </p>
				</div>
				<div class="col-md-3 col-sm-6 zyy-item">
					<i class="icon fa-refresh" aria-hidden="true">
                        </i>
                        <h4>
                            云服务器运维
                        </h4>
                        <p>
                            服务器安全加固&专业运维 <br>呵护您的企业网站健康成长
                        </p>
				</div>
				</div>
    </div>
</div>
<div class="index-cases">
	<div class="container">
        <h3 class="animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="slide-top" data-repeat="false">
                    成功案例
        </h3>
		<p class="desc animation-fade appear-no-repeat" data-plugin="appear" data-animate="fade" data-repeat="false">
			国内优秀的一站式网络服务商
		</p>
		<div class="row" style="margin-top:30px">

		{% for case in cases %}
			{% if forloop.counter0 < 4 %}
			<div class="col-md-3 col-sm-6 case-item">
				<div class="widget widget-shadow " style="position: relative; left: 0px; top: 0px;">
								<div class="img-holder" style="height:320px">
									<img data-original="/media/{{  case.img_url }}" alt={{ case.title }} src="/media/{{  case.img_url }}" style="">
									<a href="caseshow/{{ case.id }}" title={{ case.title }} target="_self">
										<div class="overlay">
											<div class="inner">
												<ul class="social">
													{{ case.detail }}
												</ul>
											</div>
										</div>
									</a>
								</div>
				  </div>
			</div>
			{% endif %}

		{% endfor %}

		</div>
    </div>
</div>
<div class="index-aboutus">
	<div class="container">
		<h3 class="animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="slide-top" data-repeat="false">
			想要制作高端大气响应式网站，即刻联系我们吧！
		</h3>
				<h3 style="margin-bottom:2px;">1360-102-3316</h3>

				<p style="text-align:center;margin: 0">周一至周五 9:00-17:00</p>
	</div>
</div>
{% endblock %}
