{% extends "base.html" %}
{% load static %}
{% block page-content %}
<div class="index-banner banner-pic">
	<div class="container header-banner" style="visibility: visible; padding: 50px 0;">
			<div class="col-lg-12 text-center" style="visibility: visible; padding: 60px 0;">
				<h2>成功案例</h2>
			</div>
		</div>
	</div>
	<div class="caseshow">
		<div class="container">
		<h3>案例展示</h3>
		<div class="row">
		  <div class="col-sm-4" style="text-align:right">名称：</div>
		  <div class="col-sm-8">{{case.title}}</div>
		</div>
		<div class="row">
		  <div class="col-sm-4" style="text-align:right">说明：</div>
		  <div class="col-sm-8">{{ case.detail |safe }}</div>
		</div>
		<div class="row">
		<!-- <div class="col-sm-12"><img src="/media/{{  case.img_url }}"></div> -->
		<div class="col-sm-12">{{ case.content |safe }}</div>
		</div>
		</div>
	</div>
	
</div>
{% endblock %}