{% extends "base.html" %}
{% load static %}
{% block page-content %}
<div class="index-banner banner-pic">
<div class="container header-banner" style="visibility: visible; padding: 50px 0;">
        <div class="col-lg-12 text-center" style="visibility: visible; padding: 60px 0;">
            <h2>成功案例</h2>
        </div>
    </div>
</div>
<div class="index-cases" style="background-color: #ffffff;margin-top:30px">
	<div class="container">
        <h3 class="animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="slide-top" data-repeat="false">
                    成功案例
        </h3>
		<div class="row" style="margin-top:40px">
			<div class="col-md-3 col-sm-6 case-item">
				<div class="widget widget-shadow " style="position: relative; left: 0px; top: 0px;">
								<div class="img-holder" style="height:320px">
									<img data-original={% static "picture/1-1609231g6403r.jpg" %} alt="环游旅游公司" src={% static "picture/1-1609231g6403r.jpg" %} style="">
									<a href="caseshow.html" title="环游旅游公司" target="_self">
										<div class="overlay">
											<div class="inner">
												<ul class="social">
													整体效果 以背景大图的视觉张力突显时尚感，整...
												</ul>
											</div>
										</div>
									</a>
								</div>
				  </div>
			</div>
			<div class="col-md-3 col-sm-6 case-item">
				<div class="widget widget-shadow" style="position: relative; left: 0px; top: 0px;">
								<div class="img-holder" style="height:320px">
									<img data-original={% static "picture/1-1609231g5522w.jpg" %} alt="环游旅游公司" src={% static "picture/1-1609231g5522w.jpg" %} style="display: inline;">
									<a href="caseshow.html" title="环游旅游公司" target="_self">
										<div class="overlay">
											<div class="inner">
												<ul class="social">
													整体效果 以背景大图的视觉张力突显时尚感，整...
												</ul>
											</div>
										</div>
									</a>
								</div>
				  </div>
			</div>
			<div class="col-md-3 col-sm-6 case-item">
				<div class="widget widget-shadow" style="position: relative; left: 0px; top: 0px;">
								<div class="img-holder" style="height:320px">
									<img data-original={% static "picture/1-1609231f24cq-lp.jpg" %} alt="环游旅游公司" src={% static "picture/1-1609231f24cq-lp.jpg" %} style="display: inline;">
									<a href="caseshow.html" title="环游旅游公司" target="_self">
										<div class="overlay">
											<div class="inner">
												<ul class="social">
													整体效果 以背景大图的视觉张力突显时尚感，整...
												</ul>
											</div>
										</div>
									</a>
								</div>
				  </div>
			</div>
			<div class="col-md-3 col-sm-6 case-item">
				<div class="widget widget-shadow" style="position:relative; left: 0px; top: 0px;">
								<div class="img-holder" style="height:320px">
									<img data-original={% static "picture/1-1609231f446492-lp.jpg" %} alt="环游旅游公司" src={% static "picture/1-1609231f446492-lp.jpg" %} style="display: inline;">
									<a href="caseshow.html" title="环游旅游公司" target="_self">
										<div class="overlay">
											<div class="inner">
												<ul class="social">
													整体效果 以背景大图的视觉张力突显时尚感，整...
												</ul>
											</div>
										</div>
									</a>
								</div>
				  </div>
			</div>
		</div>
		<div class="row" style="margin-top:30px">
			<div class="col-md-3 col-sm-6 case-item">
				<div class="widget widget-shadow " style="position: relative; left: 0px; top: 0px;">
								<div class="img-holder" style="height:320px">
									<img data-original={% static "picture/1-1609231g6403r.jpg" %} alt="环游旅游公司" src={% static "picture/1-1609231g6403r.jpg" %} style="">
									<a href="caseshow.html" title="环游旅游公司" target="_self">
										<div class="overlay">
											<div class="inner">
												<ul class="social">
													整体效果 以背景大图的视觉张力突显时尚感，整...
												</ul>
											</div>
										</div>
									</a>
								</div>
				  </div>
			</div>
			<div class="col-md-3 col-sm-6 case-item">
				<div class="widget widget-shadow" style="position: relative; left: 0px; top: 0px;">
								<div class="img-holder" style="height:320px">
									<img data-original={% static "picture/1-1609231g5522w.jpg" %} alt="环游旅游公司" src={% static "picture/1-1609231g5522w.jpg" %} style="display: inline;">
									<a href="caseshow.html" title="环游旅游公司" target="_self">
										<div class="overlay">
											<div class="inner">
												<ul class="social">
													整体效果 以背景大图的视觉张力突显时尚感，整...
												</ul>
											</div>
										</div>
									</a>
								</div>
				  </div>
			</div>
			<div class="col-md-3 col-sm-6 case-item">
				<div class="widget widget-shadow" style="position: relative; left: 0px; top: 0px;">
								<div class="img-holder" style="height:320px">
									<img data-original={% static "picture/1-1609231f24cq-lp.jpg" %} alt="环游旅游公司" src={% static "picture/1-1609231f24cq-lp.jpg" %} style="display: inline;">
									<a href="caseshow.html" title="环游旅游公司" target="_self">
										<div class="overlay">
											<div class="inner">
												<ul class="social">
													整体效果 以背景大图的视觉张力突显时尚感，整...
												</ul>
											</div>
										</div>
									</a>
								</div>
				  </div>
			</div>
			<div class="col-md-3 col-sm-6 case-item">
				<div class="widget widget-shadow" style="position:relative; left: 0px; top: 0px;">
								<div class="img-holder" style="height:320px">
									<img data-original={% static "picture/1-1609231f446492-lp.jpg" %} alt="环游旅游公司" src={% static "picture/1-1609231f446492-lp.jpg" %} style="display: inline;">
									<a href="caseshow.html" title="环游旅游公司" target="_self">
										<div class="overlay">
											<div class="inner">
												<ul class="social">
													整体效果 以背景大图的视觉张力突显时尚感，整...
												</ul>
											</div>
										</div>
									</a>
								</div>
				  </div>
			</div>
		</div>

		<div style="margin-top:30px">
		<ul class="pagination justify-content-center">  <li class="page-item"><a class="page-link" href="#">Previous</a></li>  <li class="page-item"><a class="page-link" href="#">1</a></li>  <li class="page-item"><a class="page-link" href="#">2</a></li>  <li class="page-item"><a class="page-link" href="#">3</a></li>  <li class="page-item"><a class="page-link" href="#">Next</a></li></ul>
		</div>



    </div>
</div>
{% endblock %}
