{% extends "base.html" %}
{% load static %}
{% block page-content %}
<div class="index-banner banner-pic">
<div class="container header-banner" style="visibility: visible; padding: 50px 0;">
        <div class="col-lg-12 text-center" style="visibility: visible; padding: 60px 0;">
            <h2>成功案例</h2>
        </div>
    </div>
</div>
<div class="index-cases" style="background-color: #ffffff;margin-top:30px">
	<div class="container">
        <h3 class="animation-slide-top appear-no-repeat" data-plugin="appear" data-animate="slide-top" data-repeat="false">
                    成功案例
        </h3>

		<div class="row" style="margin-top:40px">
		{% for case in page.object_list %}
			{% if forloop.counter0|divisibleby:"4" %}
				</div><div class="row" style="margin-top:40px">
			{% endif %}
			<div class="col-md-3 col-sm-6 case-item">
				<div class="widget widget-shadow " style="position: relative; left: 0px; top: 0px;">
								<div class="img-holder" style="height:320px">
									<img data-original={% static  case.img_url  %} alt={{ case.title }} src={% static  case.img_url  %} style="">
									<a href="caseshow/{{ case.id }}" title={{ case.title }} target="_self">
										<div class="overlay">
											<div class="inner">
												<ul class="social">
													{{ case.detail }}
												</ul>
											</div>
										</div>
									</a>
								</div>
				  </div>
			</div>
		{% endfor %}
		</div>

		<div style="margin-top:30px">
		<ul class="pagination justify-content-center">
			{% if page.has_previous %}
				<li class="page-item"><a class="page-link" href="{{ page.number|add:-1 }}">Previous</a></li>
			<li class="page-item"><a class="page-link" href="{{ page.number|add:-1 }}">{{ page.number|add:-1 }}</a></li>
			{% endif %}


			<li class="page-item"><a class="page-link">{{ page.number }}</a></li>

			{% if page.has_next %}
			<li class="page-item"><a class="page-link" href="{{ page.number|add:1 }}">{{ page.number|add:1 }}</a></li>
			<li class="page-item"><a class="page-link" href="{{ page.number|add:1 }}">Next</a></li></ul>
			{% endif %}

		</div>



    </div>
</div>
{% endblock %}
