<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>山月石网站系统</title>   
    <meta charset=utf-8" /> 
    <link href="{% static 'bootstrap460-dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css" /> 
    <link href="{% static 'bootstrap460-dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css" /> 
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <div class="container" style="margin-top:20px;">
    {% block page-content %}
    {% endblock %}	
    </div> 
    <script src="{% static 'bootstrap337/js/jquery.min.js' %}"></script>
	<script src="{% static 'layer351/layer.js' %}"></script>
	{% block javascript %}
	{% endblock %}
</body>
</html>