{% extends "base_layer.html" %}

{% block page-content %}

<form action="{% url 'contact:OnlineMessageCreateView' %}" method="post">
    {% csrf_token %}
    用户：{{ form.name }} <span>{{ form.name.errors.0 }}</span> <br>
    验证码：{{ form.captcha }} <span>{{ form.captcha.errors.0 }}</span><br>
    <input type="submit">
</form>

<form class="form-horizontal" id="addForm" method="post">
	{% csrf_token %}
	<div class="box-body">
		<fieldset>
			<div class="form-group has-feedback">
				<label class="col-sm-2 control-label">姓名</label>
				<div class="col-sm-8">
					<input class="form-control" name="name" type="text" />
				</div>
			</div>
			<div class="form-group has-feedback">
				<label class="col-sm-2 control-label">联系方式</label>
				<div class="col-sm-8">
					<input class="form-control" name="phone" type="text" />
				</div>
			</div>
			<div class="form-group has-feedback">
				<label class="col-sm-2 control-label">留言</label>
				<div class="col-sm-8">
					<input class="form-control" name="message" type="text" />
				</div>
			</div>
			<div class="form-group has-feedback">
				<label class="col-sm-2 control-label">验证码</label>
				<div class="col-sm-8">
					<img src="/captcha/image/ea65b35a692cbf47718b80186c8666b2a2354fc0/" alt="captcha" class="captcha" />
				</div>
			</div>
		</fieldset>
	</div>
	<div class="box-footer ">
		<div class="row span7 text-center ">
			<button type="button" id="btnCancel" class="btn btn-default margin-right ">重置</button>
			<button type="button" id="btnSave" class="btn btn-info margin-right ">在线留言</button>
		</div>
	</div>
</form>
{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $("#btnSave").click(function () {
            var data = $("#addForm").serialize();
            $.ajax({
                type: $("#addForm").attr('method'),
                url: "{% url 'contact:OnlineMessageCreateView' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert('您已成功留言，我们会在近期与您联系，谢谢！', {icon:1,closeBtn:0,title:false}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                        });
						//alert("success");
                    } else {
                        layer.alert('数据保存失败', {icon: 5,closeBtn:0,title:false});
                        //$('errorMessage').html(msg.message)
						//alert(msg.error);
                    }
                    return;
                }
            });
        });
        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();
        });
		
		//点击刷新验证码
        $(function () {
			$('.captcha').css({
				'cursor': 'pointer'
			});
			// ajax刷新
			$('.captcha').click(function () {
				console.log('click');
				$.get("{% url 'captcha-refresh' %}",
					function (result) {
						$('.captcha').attr('src', result['image_url']);
						$('#id_captcha_0').val(result['key'])
					});
			});
        })

    </script>

{% endblock %}
